@font-face {
  font-family: Inter;
  font-weight: bold;
  font-style: italic;
font-display: block;
  src: local("Inter Bold Italic"), local("Inter-BoldItalic"), url("Inter-BoldItalic.woff2") format("woff2"),
    url("Inter-BoldItalic.woff") format("woff"), url("Inter-BoldItalic.ttf") format("truetype");}
body {
  font-family: "Inter",sans-serif;
  color: #333333;
  /* margin: 0; */
  max-width: 1920px;
  height: auto;
 
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
}
.main-nav {
  display: flex;
    align-items: center;
    max-width: 1600px;
    gap: 48px;
  
}
.logo {display: flex;
  border: black;
  padding: 0 4px;
  gap: 48px ;
   
}
.logoForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerTitle{
  display: flex;
  flex-direction: column;
}
.site-navigationForms{
  display: flex;
    gap: 118px;
    align-items: flex-end;
    max-width: 1600px;
    
}
.site-navigation {
    list-style: none;
    display: flex;
    gap: 32px; 
    padding: 22px 0 0 0 ;
    align-content: space-between;
    color: var(--grays-olive, #0C0C3D);
    font-family: "Inter",sans-serif;
}
 
.site-navigation-item {
  text-decoration: none;
  
}
.site-navigation-item a
{text-decoration: none;
  color: var(--grays-olive, #0C0C3D);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Body/Body */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; } 
.active-item{
  color: var(--colors-primary-dark, #04665E);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: flex;
}
  .active-item a {
    text-decoration: none;
    color: var(--colors-primary-dark, #04665E);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
 ;
  }

.header-title1{color: var(--grays-olive, #0C0C3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  text-transform: uppercase;}
  .header-title2{color: var(--colors-primary, #27ACA1);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.search-form{
  display: flex;
padding: 9px 9px 9px 12px;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--grays-pale-2, #CFD7DC);

}
.search-form_txt{
border: none;
width: 200px;
outline: none;
font-size: 20px;
padding-right: 10px;
background-color: transparent;
}
.search-form_bth{
  border: none;
  background-color: transparent;
  display: flex ;
  align-items: stretch;
}
.search-form_image{display: flex;
  align-items:center;
  justify-content: center;
background-color: transparent;
float: left;
}
.registration-form{
  display: flex;
padding: 9px 24px 9px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--colors-secondary, #DCF6F4);
}
.registration-txt{
  border: none; 
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  background: var(--colors-secondary, #DCF6F4);
  margin-left: 12px;
  width: 164px
}
.registration-image{
  width: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
  border: none;
  float: left;
  background: var(--colors-secondary, #DCF6F4);
}
.registration-bth{
  color: var(--Colors-Primary, #27ACA1);
  border: none;
  background: var(--colors-secondary, #DCF6F4);
  display: flex;
  gap: 12px;
}

.number-form{
  display: flex;
  padding: 9px 24px 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--colors-secondary, #DCF6F4);
}
  .number-txt{
    border: none; 
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    background: var(--colors-secondary, #DCF6F4);
  }
  .number-image{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    border: none;
    float: left;
    background: var(--colors-secondary, #DCF6F4);
  }
  .number-bth{
    color: var(--Colors-Primary, #27ACA1);
    display: flex;
    border: none;
    background: var(--colors-secondary, #DCF6F4);
    gap: 12px;
  }
  
.mailForm{
  display: flex;
  align-items: center;
  gap:   32px;
  font-family: "Inter",sans-serif;
}
.Mail{
   display: flex;
   gap: 8px;
}
.Mail-icon {
 display: flex;
 align-items: center;
  gap:  8px;
}
.Mail-txt{
  text-decoration: none;
  color: var(--grays-olive, #0C0C3D);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.Phone{
  display: flex;
  gap: 8px;

}
.Phone-txt{
text-decoration: none;
color: var(--grays-olive, #0C0C3D);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.info{
display: flex;
color: var(--grays-olive, #0C0C3D);
font-feature-settings: 'clig' off, 'liga' off;
/* Body/Body Article */
font-family: "Inter", sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px;
align-items: center;
    gap: 64px;
    max-width: 1600px;
justify-content: space-between;
}
.about{
  max-width: 784px;
  font-family: "Inter",sans-serif;
}
  .aboutTitle{
    color: var(--grays-olive, #0C0C3D);
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    padding: 64px 0 0 0;
  
  }
    .aboutLicense{
      display: flex;
      margin-top: 172px;}
      .licenseForm{
      display: flex;
    justify-content: space-between;
  gap: 32px;
}
.license{
  display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    padding: 54px 33px 32px 49px;
    border-radius: 16px;
background: var(--Grays-Pale-3, #F6F8FA);

}
.license-txt{
  font-size: 17px;
  color: var(--Colors-Primary, #27ACA1);
  font-style: normal;
font-weight: 600;
line-height: 28px;
}
.license-txt:hover {color: var(--colors-primary-hover, #32BCB1);}
.license-txt:active {color: var(--colors-primary-dark, #04665E);}
.agreement{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 54px 33px 32px 49px;
  border-radius: 16px;
background: var(--Grays-Pale-3, #F6F8FA);}
.agreement-txt{
  font-size: 18px;
  color: var(--Colors-Primary, #27ACA1);
  font-style: normal;
font-weight: 600;
line-height: 28px;
}
.agreement-txt:hover {color: var(--colors-primary-hover, #32BCB1);}
.agreement-txt:active {color: var(--colors-primary-dark, #04665E);}
.areaOfActivity{
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1600px;
  padding-top: 80px;
}
.areaActivity{
list-style: none;
display: grid;
flex-direction: column;
align-items: flex-start;
gap: 32px;
grid-template-columns: 1fr 1fr;
max-width: 1600px;

  } 
  .areaActivityItem{
    display: flex;
max-width: 1600px;
padding: 18px 18px 18px 32px;
justify-content:space-between;
align-items: stretch;
gap: 32px;
border-radius: 16px;
background: var(--grays-pale-3, #F6F8FA);
  }
  .areaActivityItem a{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
flex-shrink: 0;
  }
.activeItem-bth{
  display: flex;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--grays-white, #FFF);
border: none;
color: var(--colors-primary, #27ACA1);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;  
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
}
.cooperation{
}
 .briefing{
  display: flex;
    justify-content: space-between;
} 

.briefing-bth{
display: flex;
border-radius: 8px;
background: var(--colors-secondary, #DCF6F4);
color: var(--colors-primary, #27ACA1);
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

}
.briefing-form_txt{    border-radius: 8px;
  border: 1px solid var(--Grays-Pale-2, #CFD7DC);
  padding: 13.808px 193.961px 13.445px 13.934px;
 
}
.briefing-name{
  display: flex;
    font-size: 15.676px;
    font-style: normal;
    line-height: 24.385px;
    justify-content: space-between;
 
}
.briefing-blok{
  display: flex;
  border-radius: 8px;
  background: var(--Grays-White, #FFF);
  flex-direction: column;
  gap: 22px;
  padding: 27px; 
}

.close-icon-bth{  
  display: flex;
  background: none;
  border: none;
background: white;}

  .briefing-txt{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    color: var(--Colors-Primary, #27ACA1);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .cooperationForm{
    display: flex;
    gap: 23px;
  }
  .briefingForm{
    display: flex;
    gap: 23px;
  }
  .briefingImgOne{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .briefingImgTwo{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .imgOne{border-radius: 16px;
    border: 1px solid var(--Grays-Pale-3, #F6F8FA);
    background: url(<path-to-image>), lightgray 0px -91.337px / 100% 156.098% no-repeat;}
    .imgTwo{border-radius: 16px;
      border: 1px solid var(--Grays-Pale-3, #F6F8FA);
      background: url(<path-to-image>), lightgray 0px -91.337px / 100% 156.098% no-repeat;
      }
      .briefingImgOneTxt{
    color: var(--Colors-Primary, #27ACA1);
    text-align: left;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;}
    .briefingImgTwoTxt{
      color: var(--Colors-Primary, #27ACA1);
      text-align: left;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    }
    .briefingGlobal{
      display: flex;
    gap: 23px;
    }
    .briefingRegistr{
      display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 32.626px 32px 0px 32.368px;
    border-radius: 16px;
    background: var(--Grays-White, #FFF);

    }
    .briefingContainer{
      display: flex;
    padding: 32.626px 32px 0px 32.368px;
    /* justify-content: center; */
    align-items: center;
    border-radius: 16px;
    background: var(--Grays-Pale-3, #F6F8FA);
    flex-direction: column;
    }
    .boxing{    border-radius: 8px;
      background: var(--Grays-White, #FFF);}
      .helpMee{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        gap: 8px;
      }
      .resourcesForm{
      display: flex;
    gap: 32px;
    flex-direction: column;}

  .resources{
    list-style: none;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    font-family: "Inter",sans-serif;
  }
  .resourcesItem{display: flex;
    max-width: 1600px;
    padding: 18px 18px 18px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: var(--grays-pale-3, #F6F8FA);}
    .resourcesItem a{
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--Grays-Olive, #0C0C3D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Inter",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
    }
    .resourcesBth{
      display: flex;
      border: none;
      border-radius: 8px;
      background: var(--Grays-White, #FFF);
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-family: "Inter",sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      color: var(--Colors-Primary, #27ACA1);
     
    }
    .teamForm h4{
      color: var(--Grays-Pale, #5D647D);
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Inter",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
    }
    .teamForm h2{
      margin: 0;
    }
    .teamForm{
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 1600px
    }
    .teamMail-txt{
      text-decoration: none;
      color: var(--grays-olive, #0C0C3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    }
   .teamFormMail{
    list-style:  none;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
   .teamPhone-txt{
    text-decoration: none;
    color: var(--grays-olive, #0C0C3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
   }
.teamPhone{
  display: flex;
    gap: 8px;
}
.teamMail{
  display: flex;
  gap: 8px;
}
.team{    display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.teamcontainerForm{    display: flex;
  padding: 96px 32px 28px 32px;
  border-radius: 16px;
  background: var(--Grays-Pale-3, #F6F8FA);
  margin-top: -100px;
  flex-direction: column;
  gap: 48px;
}
.teamNumber1{display: flex;
  flex-direction: column;
gap: 16px;}
.teamNumber2{display: flex;
  flex-direction: column;
gap: 16px;}
.teamNumber3{display: flex;
  flex-direction: column;
gap: 16px;}
.teamNumber4{display: flex;
  flex-direction: column;
gap: 16px;}
.teamNumber5{display: flex;
  flex-direction: column;
gap: 16px;}
.teamNumber6{display: flex;
  flex-direction: column;
gap: 16px;}
.bank{display: flex;
  gap: 64px;
  animation: marquee 10s linear infinite;
  align-items: center;
  margin-right: 20px;
}
 
  .bankFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;}
    .bankFooter a{color: var(--Colors-Primary, #27ACA1);
      text-align: right;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;}
      .bankFooter a:hover {color: var(--colors-primary-hover, #32BCB1);}
      .bankFooter a:active {color: var(--colors-primary-dark, #04665E);}
      .bankGlobal{
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1600px;
      }
      .bankForm{
        overflow: hidden;
        max-width: 1600px;
      }
      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
     .organization{ display: flex;
    justify-content: space-between;
    max-width: 1600px;
}
.organizationItem{list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: var(--Colors-Primary, #27ACA1);}
  .organizationItem :hover {color: var(--colors-primary-hover, #32BCB1);}
  .organizationItem :active {color: var(--colors-primary-dark, #04665E);}
  .infoOrganization{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.support{
  display: flex;
    flex-direction: column;
    gap: 32px;
}
.supportItem{
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 64px;
}.organizationItemSite{
display: flex;
padding-top: 4px;
flex-direction: column;
gap: 4px;}